<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css
">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js
"></script>
    <title>Signal viewer</title>
</head>
<body>
    <div class="container">
        <div id="innertext" class="p-4">
            <h1 class="text-center">Signal Viewer</h1>
            <div class="input-group mb-3">
                <form method="POST" enctype="multipart/form-data">
                    <div action="/" class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" name="uploadedsignal">
                        <input type="submit" value="upload" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
                    </div>
                </form>
        </div>
        </div>
    </div>
    <!-- <script>
        const fileInput = document.getElementById('fileInput');

            fileInput.addEventListener('submit', (event) => {
                const filePath = event.target.value;
                // Send the filePath to the server using an HTTP request
            });
            </script> -->
</body>
</html>