.rangeWrap {
    width: 40%;
}

.rangeWrap input {
    width: 100%;
    margin: 0;
}

.rangeWrap .ticks {
    display: flex;
    justify-content: space-between;
    height: 6px;
    margin: -1.5em 5px 0 6px;
    font: 10px Arial;
    counter-reset: count -1;
}

.rangeWrap .ticks>div {
    height: 100%;
    width: 1px;
    background: silver;
    counter-increment: count 1;
}

.rangeWrap .ticks>div:nth-child(5n - 4) {
    height: 200%;
}

.rangeWrap .ticks>div:nth-child(5n - 4)::before {
    display: block;
    content: counter(count, decimal);
    transform: translate(-50%, 100%);
    text-align: center;
    width: 16px;
}

.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

